# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**/*.{kt,kts}]
indent_size = 4
indent_style = space
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_no-consecutive-blank-lines = disabled
ktlint_standard_no-consecutive-comments = disabled
ktlint_standard_kdoc = disabled